<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>User page</title>

</head>

<body>

<!-- Navbar -->
<div class="container">
    <div class="row">
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
                <p class="navbar-brand text-white">
                    <b><span class="align-middle" sec:authentication="principal.username">User</span></b>
                    <span class="align-middle">with role(s):</span>
                    <b><span class="align-middle" th:text="${#strings.setJoin(loggedUser.getRoles(), ', ')}"></span></b>
                </p>
                <a th:href="@{/logout}" class="link-secondary" style="font-size: 125%">Logout</a>
            </div>
        </nav>
    </div>
</div>
<!-- end of 'Navbar' -->


<div class="container my-3">
    <div class="row">
        <div class="col-3">
            <div class="btn-group-vertical gap-2 col-12" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" unchecked>
                <a class="btn btn-outline-primary border-0 rounded-1 text-start" for="btnradio1"
                   th:href="@{/admin}" sec:authorize="hasAuthority('ADMIN')">Admin</a>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                <a class="btn btn-outline-primary border-0 rounded-1 text-start" for="btnradio2"
                   th:href="@{/user}">User</a>

            </div>
        </div>
        <div class="col bg-light">

            <div class="container">
                <br>
                <h2>User information page</h2>
                <hr>
                <div class="card my-3">
                    <div class="card-header">
                        <b>About user</b>
                    </div>
                    <div class="container">
                        <table class="table table-striped my-3 mb-4">
                            <thead>
                            <tr style="border-top-width: 1px">
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Age</th>
                                <th>Roles</th>
                            </tr>
                            </thead>
                            <tbody style="border-top-width: 1px; border-color:lightgrey">
                            <tr>
                                <td th:text="${loggedUser.getId}">VALUE</td>
                                <td th:text="${loggedUser.getFirstName}">VALUE</td>
                                <td th:text="${loggedUser.getLastName}">VALUE</td>
                                <td th:text="${loggedUser.getEmail}">VALUE</td>
                                <td th:text="${loggedUser.getAge}">VALUE</td>
                                <td th:text="${#strings.setJoin(loggedUser.getRoles(), ', ')}">VALUE</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>